<footer class="sticky-bottom bg-brown mt-5 text-white py-3" role="contentinfo">
  <div class="container text-center">
    &copy; {{ site.time | date: '%Y' }}
    جميع الحقوق محفوظة.
  </div>
</footer>
