<footer class="sticky-bottom bg-brown mt-5 text-white py-3" role="contentinfo">
  <div class="container text-center">
    &copy; حقوق النشر {{ site.time | date: '%Y' }} يونس الناجي.
    <a href="https://www.linkedin.com/in/younes--ennaji/" target="_blank" class="text-white mx-2">
      <i class="fab fa-linkedin"></i>
    </a>
    جميع الحقوق محفوظة.
  </div>
</footer>
