/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  --global-bg-color: #ffffff; /* White */
  --global-code-bg-color: #f0f0f0; /* Light grey */
  --global-text-color: #000000; /* Black */
  --global-text-color-light: #666666; /* Grey */
  --global-theme-color: #ad1c1c; /* Maroon */
  --global-hover-color: #a52a2a; /* Light maroon */
  --global-hover-text-color: #ffffff; /* White */
  --global-footer-bg-color: #800000; /* Maroon */
  --global-footer-text-color: #ffffff; /* White */
  --global-footer-link-color: #ffffff; /* White */
  --global-distill-app-color: #800000; /* Maroon */
  --global-divider-color: rgba(0, 0, 0, 0.1); /* Light grey */
  --global-card-bg-color: #ffffff; /* White */
  --global-highlight-color: #ff0000; /* Red */
  --global-back-to-top-bg-color: rgba(128, 0, 0, 0.4); /* Maroon with opacity */
  --global-back-to-top-text-color: #ffffff; /* White */
  --global-newsletter-bg-color: #ffffff; /* White */
  --global-newsletter-text-color: #000000; /* Black */

  --global-tip-block: #42b983; /* Green */
  --global-tip-block-bg: #e2f5ec; /* Light green */
  --global-tip-block-text: #215d42; /* Dark green */
  --global-tip-block-title: #359469; /* Medium green */
  --global-warning-block: #e7c000; /* Yellow */
  --global-warning-block-bg: #fff8d8; /* Light yellow */
  --global-warning-block-text: #6b5900; /* Dark yellow */
  --global-warning-block-title: #b29400; /* Medium yellow */
  --global-danger-block: #c00; /* Red */
  --global-danger-block-bg: #ffe0e0; /* Light red */
  --global-danger-block-text: #600; /* Dark red */
  --global-danger-block-title: #c00; /* Red */

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #800000; /* Maroon */
  --global-code-bg-color: #660000; /* Darker maroon */
  --global-text-color: #ffffff; /* White */
  --global-text-color-light: #cccccc; /* Light grey */
  --global-theme-color: #a52a2a; /* Light maroon */
  --global-hover-color: #cc6666; /* Lighter maroon */
  --global-hover-text-color: #ffffff; /* White */
  --global-footer-bg-color: #660000; /* Darker maroon */
  --global-footer-text-color: #ffffff; /* White */
  --global-footer-link-color: #ffffff; /* White */
  --global-distill-app-color: #660000; /* Darker maroon */
  --global-divider-color: #424246; /* Dark grey */
  --global-card-bg-color: #550000; /* Very dark maroon */
  --global-back-to-top-bg-color: rgba(255, 255, 255, 0.5); /* White with opacity */
  --global-back-to-top-text-color: #000000; /* Black */
  --global-newsletter-bg-color: #660000; /* Darker maroon */
  --global-newsletter-text-color: #cccccc; /* Light grey */

  --global-tip-block: #42b983; /* Green */
  --global-tip-block-bg: #e2f5ec; /* Light green */
  --global-tip-block-text: #215d42; /* Dark green */
  --global-tip-block-title: #359469; /* Medium green */
  --global-warning-block: #e7c000; /* Yellow */
  --global-warning-block-bg: #fff8d8; /* Light yellow */
  --global-warning-block-text: #6b5900; /* Dark yellow */
  --global-warning-block-title: #b29400; /* Medium yellow */
  --global-danger-block: #c00; /* Red */
  --global-danger-block-bg: #ffe0e0; /* Light red */
  --global-danger-block-text: #600; /* Dark red */
  --global-danger-block-title: #c00; /* Red */

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
