---
layout: page
---
<div class="post">
  <article>
    <div class="container profiles-container">
      <div class="row">
        {% if page.profiles %}
          {% for profile in page.profiles %}
            <div class="col-md-12 mb-4 profile-entry d-flex">
              <div class="profile-info">
                <h3 class="profile-title">{{ profile.name }}</h3>
                <p>{{ profile.description }}</p>
                <a href="{{ profile.page_url | prepend: '/people/' }}" class="read-more">...اقرأ المزيد</a>
              </div>
              <div class="profile-image">
                {% if profile.image %}
                  {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
                  {% assign profile_image_class = 'profile-img' %}
                  {% capture sizes %}(max-width: 200px) 100vw, 200px{% endcapture %}
                  {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.name %}
                {% endif %}
              </div>
            </div>
            <hr>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </article>
</div>
